<article id="post-1040" class="post-1040 post type-post status-publish format-standard has-post-thumbnail hentry category-photography category-travel tag-amazing tag-fun tag-nature xf__entry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope" itemprop="blogPost">

	<div class="xf__container">
		<header class="xf__post-header">
				<div class="xf__meta" itemprop="text">

					<span class="xf__meta-item link-category"><a href="/photography/" rel="category tag">Photography</a>, <a href="https://demo.xfrontend.com/snowbird/category/travel/" rel="category tag">Travel</a></span>

		<span class="xf__meta-item posted-on"><a href="{{include.url}}" rel="bookmark"><time class="entry-date published" datetime="2015-09-18T11:03:20+00:00" itemprop="datePublished">September 18, 2015</time></a></span><span class="xf__meta-item updated-on screen-reader-text"><time class="entry-date updated" datetime="2016-11-25T12:19:21+00:00" itemprop="dateModified">November 25, 2016</time></span>	</div>

			<h2 class="entry-title" itemprop="headline"><a href="{{include.url}}" rel="bookmark">{{include.title}}</a></h2>		</header>
	</div>

	<div class="xf__container">
	<figure class="xf__feaured-image xf__feaured-image-alt" aria-hidden="true">
		<a href="{{include.url}}"><img width="1110" height="480" src="/assets/img/post-img01-1110x480.jpg" class="attachment-snowbird-large size-snowbird-large wp-post-image" alt="{{ include.title }}" itemprop="image"></a>	</figure>
</div>

			<div class="xf__post-wrapper">
			<div class="xf__container xf__entry-container">
				<div class="xf__entry-sidebar clear">

	<div class="xf__entry-meta">

			<img alt="" src="/assets/img/7033694ceb10d10ef79dd7568cfbd0a4" srcset="https://secure.gravatar.com/avatar/7033694ceb10d10ef79dd7568cfbd0a4?s=170&amp;d=mm&amp;r=g 2x" class="avatar avatar-85 photo" height="85" width="85">			<p class="entry-author vcard" itemtype="http://schema.org/Person" itemscope="itemscope" itemprop="author">
				<span>by:</span>
				<span class="fn author" itemprop="name"><a class="url" href="https://demo.xfrontend.com/snowbird/author/xfrontend/" title="Posts by Kristy Fahey" itemprop="url" rel="author">Kristy Fahey</a></span></p>

							<p class="comment-count">
					<a href="https://demo.xfrontend.com/snowbird/mountain-winter-landscape-in-austria/#comments">10 Comments</a>				</p>


		<hr class="separator">
	</div>

			<div class="xf__entry-share">
			<p class="share-title">Share on:</p>

			<p>
				<a class="facebook" title="Share on Facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fmountain-winter-landscape-in-austria%2F&amp;t=Mountain+Winter+Landscape+in+Austria">
					<i class="fa fa-facebook"></i>
					<span class="screen-reader-text">Facebook</span></a>
				<a class="twitter" title="Tweet This" href="https://twitter.com/share?text=Mountain+Winter+Landscape+in+Austria&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fmountain-winter-landscape-in-austria%2F">
					<i class="fa fa-twitter"></i>
					<span class="screen-reader-text">Twitter</span></a>
				<a class="pinterest" title="Pin This" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fmountain-winter-landscape-in-austria%2F&amp;description=Mountain+Winter+Landscape+in+Austria&amp;media=%2Fassets%2Fimg%2Fpost-img01-920x345.jpg">
					<i class="fa fa-pinterest-p"></i>
					<span class="screen-reader-text">Pinterest</span></a>
				<a class="gplus" title="Share on Google+" href="https://plus.google.com/share?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fmountain-winter-landscape-in-austria%2F">
					<i class="fa fa-google-plus"></i>
					<span class="screen-reader-text">Google+</span></a>
				<a class="linkedin" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;title=Mountain+Winter+Landscape+in+Austria&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fmountain-winter-landscape-in-austria%2F">
					<i class="fa fa-linkedin"></i>
					<span class="screen-reader-text">LinkedIn</span></a>
				<a class="mail" title="Email This" href="mailto:?subject=Mountain+Winter+Landscape+in+Austria&amp;body=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fmountain-winter-landscape-in-austria%2F">
					<i class="fa fa-envelope-o"></i>
					<span class="screen-reader-text">Email</span></a>
			</p>
		</div>
		</div>

					<div class="content entry-content" itemprop="text">
						<p><span class="dropcap">{{ include.content | strip_html | slice:0 }} </span>{{ include.content | strip_html | slice: 1, 1000 | truncatewords: 60  }}</p>
<p><span class="xf__dots">…</span><a class="xf__more xf__button" href="{{include.url}}">Read More</a></p>
					</div>
							</div>
		</div>

</article>
