<footer class="xf__footer" itemtype="http://schema.org/WPFooter" itemscope="itemscope">
				<div class="widget-area">
				<div class="xf__container row clear">
					<div class="column one-third first"><section id="superpack-widget-about-2" class="widget superpack__widget superpack__widget-about"><h3 class="widget-title"><span>About Every Place a Story</span></h3><div class="superpack__about"><div class="content description"><p>Every Place a Story is a travel blog seeking to capture lifes diversity, create openness for the different and unknown. </p>
<p><a href="https://xfrontend.com/themes/snowbird-wordpress-theme/">Learn more</a></p>
</div></div></section></div><div class="column one-third"><section id="blog_subscription-2" class="widget jetpack_subscription_widget"><h3 class="widget-title"><span>Subscribe</span></h3>
			<form action="https://demo.xfrontend.com/snowbird/#" method="post" accept-charset="utf-8" id="subscribe-blog-blog_subscription-2">
				<div id="subscribe-text"><p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.</p>
</div>					<p id="subscribe-email">
						<label id="jetpack-subscribe-label" for="subscribe-field-blog_subscription-2" style="clip: rect(1px 1px 1px 1px); position: absolute; height: 1px; width: 1px; overflow: hidden;">
							Email Address						</label>
						<input type="email" name="email" required="required" class="required" value="" id="subscribe-field-blog_subscription-2" placeholder="Email Address">
					</p>

					<p id="subscribe-submit">
						<input type="hidden" name="action" value="subscribe">
						<input type="hidden" name="source" value="https://demo.xfrontend.com/snowbird/">
						<input type="hidden" name="sub-type" value="widget">
						<input type="hidden" name="redirect_fragment" value="blog_subscription-2">
												<input type="submit" value="Subscribe" name="jetpack_subscriptions_widget">
					</p>
							</form>

			<script>
			/*
			Custom functionality for safari and IE
			 */
			(function( d ) {
				// In case the placeholder functionality is available we remove labels
				if ( ( 'placeholder' in d.createElement( 'input' ) ) ) {
					var label = d.querySelector( 'label[for=subscribe-field-blog_subscription-2]' );
						label.style.clip 	 = 'rect(1px, 1px, 1px, 1px)';
						label.style.position = 'absolute';
						label.style.height   = '1px';
						label.style.width    = '1px';
						label.style.overflow = 'hidden';
				}

				// Make sure the email value is filled in before allowing submit
				var form = d.getElementById('subscribe-blog-blog_subscription-2'),
					input = d.getElementById('subscribe-field-blog_subscription-2'),
					handler = function( event ) {
						if ( '' === input.value ) {
							input.focus();

							if ( event.preventDefault ){
								event.preventDefault();
							}

							return false;
						}
					};

				if ( window.addEventListener ) {
					form.addEventListener( 'submit', handler, false );
				} else {
					form.attachEvent( 'onsubmit', handler );
				}
			})( document );
			</script>

</section></div><div class="column one-third last"><section id="superpack-widget-social-icons-2" class="widget superpack__widget superpack__widget-social-icons"><h3 class="widget-title"><span>Keep In Touch</span></h3><nav class="superpack__menu-container"><ul class="superpack__social xf__social colors circle"><li id="menu-item-2190" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2190"><a href="https://www.facebook.com/xFrontend"><span class="screen-reader-text">Facebook</span></a></li>
<li id="menu-item-2191" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2191"><a href="https://twitter.com/xFrontend"><span class="screen-reader-text">Twitter</span></a></li>
<li id="menu-item-2225" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2225"><a href="http://pinterest.com/example"><span class="screen-reader-text">Pinterest</span></a></li>
<li id="menu-item-2192" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2192"><a href="https://plus.google.com/+xFrontendThemes"><span class="screen-reader-text">Google+</span></a></li>
<li id="menu-item-2226" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2226"><a href="mailto:doe@example.com"><span class="screen-reader-text">Email</span></a></li>
<li id="menu-item-2224" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2224"><a href="https://demo.xfrontend.com/snowbird/feed/"><span class="screen-reader-text">Feed</span></a></li>
</ul></nav></section></div>				</div>
			</div>

	<div class="xf__site-info clear">
		<div class="xf__container">
			<nav class="xf__footer-menu xf__nav-footer"><ul id="menu-footer-menu" class="menu"><li id="menu-item-2227" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-2227"><a href="https://demo.xfrontend.com/snowbird/">Home</a></li>
<li id="menu-item-2261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2261"><a href="https://demo.xfrontend.com/snowbird/about/">About</a></li>
<li id="menu-item-2260" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2260"><a href="https://demo.xfrontend.com/snowbird/contact/">Contact</a></li>
</ul></nav>
						<p class="xf__copyright">© 2017 <a href="https://demo.xfrontend.com/snowbird/" title="Snowbird">Snowbird</a>. Powered by <a href="https://wordpress.org/" title="WordPress" rel="nofollow">WordPress</a> &amp; <a href="https://xfrontend.com/" title="xFrontend" rel="nofollow">xFrontend</a>.</p>
		</div>
	</div>
</footer>

</div>
</div>



		<script type="text/javascript">
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/demo.xfrontend.com\/snowbird\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
/* ]]> */
</script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>
<script type="text/javascript" src="/assets/js/devicepx-jetpack.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fitvids.min.js"></script>
<script type="text/javascript" src="/assets/js/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var snowbirdReaderText = {"expand":"<span class=\"screen-reader-text\">expand child menu<\/span>","collapse":"<span class=\"screen-reader-text\">collapse child menu<\/span>"};
/* ]]> */
</script>
<script type="text/javascript" src="/assets/js/functions.min.js"></script>
<script type="text/javascript" src="/assets/js/skip-link-focus-fix.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.cookie.min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var switch_ajax_url = "https:\/\/demo.xfrontend.com\/snowbird\/wp-admin\/admin-ajax.php";
var switch_ajax_nonce = "03a03f87c6";
/* ]]> */
</script>
<script type="text/javascript" src="/assets/js/switch.min.js"></script>
<script type="text/javascript" src="/assets/js/wp-embed.min.js"></script>
<script type="text/javascript" src="/assets/js/e-201748.js" async="" defer=""></script>
<script type="text/javascript">
	_stq = window._stq || [];
	_stq.push([ 'view', {v:'ext',j:'1:5.4',blog:'98522124',post:'0',tz:'0',srv:'demo.xfrontend.com'} ]);
	_stq.push([ 'clickTrackerInit', '98522124', '0' ]);
</script>


<img src="/assets/img/g.gif" alt=":)" width="6" height="5" id="wpstats"></body></html>
