<div class="pure-menu pure-menu-horizontal sticky">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About Us</a></li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Destinations</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Asia</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Europe</a></li>
            </ul>
        </li>
        <li class="pure-menu-item-separator"></li>
        <li class="pure-menu-text"> Follow along : </li>
        <li><a href="https://www.instagram.com/everyplaceastory/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
    </ul>
</div>
