<!DOCTYPE html>

{% include header.html %}

<body class="home blog scheme-default layout-alt" itemtype="http://schema.org/WebPage" itemscope="itemscope">

<div class="xf__site hfeed">
	<div class="content-area">

<header class="xf__header">
	<div class="content xf__header-logo xf__container">

			<h2 class="site-title" itemprop="headline">


				<a href="/" rel="home"><img src="/assets/img/logo.png" width="250" height="250" alt=""></a></h2>

			</div>


	<div class="background">
		<img src="/assets/img/header_blured.jpg" width="1600" height="360" alt="">


	</div>
</header>



{% include navbar.html %}



<main class="xf__main" itemprop="mainContentOfPage">

<div id="main" class="xf__posts" itemtype="http://schema.org/Blog" itemscope="itemscope">

{% for post in site.posts %}

{% include article_preview.html post=post content=post.content title=post.title url=post.url header=post.header %}

{% endfor %}

</div>


		<nav class="xf__nav-pagination pagination" role="navigation">
			<h2 class="screen-reader-text">Posts navigation</h2>
			<div class="xf__container">
				<div class="nav-links"><span class="page-numbers current">1</span>
<a class="page-numbers" href="https://demo.xfrontend.com/snowbird/page/2/">2</a>
<a class="page-numbers" href="https://demo.xfrontend.com/snowbird/page/3/">3</a>
<a class="next page-numbers" href="https://demo.xfrontend.com/snowbird/page/2/">Older Entries</a></div>
			</div>
		</nav>
	</main>


{% include footer.html %}
