<!DOCTYPE html>

{% include header.html %}

<body class="home blog scheme-default layout-alt" itemtype="http://schema.org/WebPage" itemscope="itemscope">

<div class="xf__site hfeed">
	<div class="content-area">

<header class="xf__header">
	<div class="content xf__header-logo xf__container">

			<h2 class="site-title" itemprop="headline">


				<a href="/" rel="home"><img src="/assets/img/logo.png" width="250" height="250" alt=""></a></h2>

			</div>


	<div class="background">
		<img src="/assets/img/header_blured.jpg" width="1600" height="360" alt="">


	</div>
</header>

<main class="xf__main" itemprop="mainContentOfPage">
<div id="main" class="xf__posts" itemtype="http://schema.org/Blog" itemscope="itemscope">

{% for post in site.posts %}

{% include article_preview.html content=post.content title=post.title url=post.url header=post.header %}

{% endfor %}

<article id="post-331" class="post-331 post type-post status-publish format-standard has-post-thumbnail hentry category-photography tag-fun tag-gallery tag-nature xf__entry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope" itemprop="blogPost">

	<div class="xf__container">
		<header class="xf__post-header">
				<div class="xf__meta" itemprop="text">

					<span class="xf__meta-item link-category"><a href="https://demo.xfrontend.com/snowbird/category/photography/" rel="category tag">Photography</a></span>

		<span class="xf__meta-item posted-on"><a href="https://demo.xfrontend.com/snowbird/a-road-trip-through-the-heart-of-russia/" rel="bookmark"><time class="entry-date published" datetime="2015-09-14T10:43:32+00:00" itemprop="datePublished">September 14, 2015</time></a></span><span class="xf__meta-item updated-on screen-reader-text"><time class="entry-date updated" datetime="2015-09-14T10:43:32+00:00" itemprop="dateModified">September 14, 2015</time></span>	</div>

			<h2 class="entry-title" itemprop="headline"><a href="https://demo.xfrontend.com/snowbird/a-road-trip-through-the-heart-of-russia/" rel="bookmark">A Road Trip Through the Heart of Russia</a></h2>		</header>
	</div>

	<div class="xf__container">
	<figure class="xf__feaured-image xf__feaured-image-alt" aria-hidden="true">
		<a href="https://demo.xfrontend.com/snowbird/a-road-trip-through-the-heart-of-russia/"><img width="1110" height="480" src="/assets/img/bora-bora-701855_1920-1110x480.jpg" class="attachment-snowbird-large size-snowbird-large wp-post-image" alt="A Road Trip Through the Heart of Russia" itemprop="image"></a>	</figure>
</div>

			<div class="xf__post-wrapper">
			<div class="xf__container xf__entry-container">
				<div class="xf__entry-sidebar clear">

	<div class="xf__entry-meta">

			<img alt="" src="/assets/img/4da4abb3019691ca39e2311ba483965a" srcset="https://secure.gravatar.com/avatar/4da4abb3019691ca39e2311ba483965a?s=170&amp;d=mm&amp;r=g 2x" class="avatar avatar-85 photo" height="85" width="85">			<p class="entry-author vcard" itemtype="http://schema.org/Person" itemscope="itemscope" itemprop="author">
				<span>by:</span>
				<span class="fn author" itemprop="name"><a class="url" href="https://demo.xfrontend.com/snowbird/author/dummy/" title="Posts by Katy Wittner" itemprop="url" rel="author">Katy Wittner</a></span></p>

							<p class="comment-count">
					<a href="https://demo.xfrontend.com/snowbird/a-road-trip-through-the-heart-of-russia/#respond">Add Comment</a>				</p>


		<hr class="separator">
	</div>

			<div class="xf__entry-share">
			<p class="share-title">Share on:</p>

			<p>
				<a class="facebook" title="Share on Facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F&amp;t=A+Road+Trip+Through+the+Heart+of+Russia">
					<i class="fa fa-facebook"></i>
					<span class="screen-reader-text">Facebook</span></a>
				<a class="twitter" title="Tweet This" href="https://twitter.com/share?text=A+Road+Trip+Through+the+Heart+of+Russia&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F">
					<i class="fa fa-twitter"></i>
					<span class="screen-reader-text">Twitter</span></a>
				<a class="pinterest" title="Pin This" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F&amp;description=A+Road+Trip+Through+the+Heart+of+Russia&amp;media=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fwp-content%2Fuploads%2Fbora-bora-701855_1920-920x650.jpg">
					<i class="fa fa-pinterest-p"></i>
					<span class="screen-reader-text">Pinterest</span></a>
				<a class="gplus" title="Share on Google+" href="https://plus.google.com/share?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F">
					<i class="fa fa-google-plus"></i>
					<span class="screen-reader-text">Google+</span></a>
				<a class="linkedin" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;title=A+Road+Trip+Through+the+Heart+of+Russia&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F">
					<i class="fa fa-linkedin"></i>
					<span class="screen-reader-text">LinkedIn</span></a>
				<a class="mail" title="Email This" href="mailto:?subject=A+Road+Trip+Through+the+Heart+of+Russia&amp;body=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F">
					<i class="fa fa-envelope-o"></i>
					<span class="screen-reader-text">Email</span></a>
			</p>
		</div>
		</div>
					<div class="content entry-content" itemprop="text">
						<p>Whatshisname? We live in a society of laws! Why do you think I took you to all those Police Academy movies? For fun?</p>
<p>Well, I didn’t hear anybody laughing, did you? Except at that guy who made sound effects. Makes sound effects and laughs. Where was I? Oh yeah! Stay out of my booze.</p>
<p><span class="xf__dots">…</span><a class="xf__more xf__button" href="https://demo.xfrontend.com/snowbird/a-road-trip-through-the-heart-of-russia/">Read More</a></p>
					</div>
							</div>
		</div>

</article>



<article id="post-34" class="post-34 post type-post status-publish format-standard has-post-thumbnail hentry category-adventure tag-cute tag-love tag-story xf__entry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope" itemprop="blogPost">

	<div class="xf__container">
		<header class="xf__post-header">
				<div class="xf__meta" itemprop="text">

					<span class="xf__meta-item link-category"><a href="https://demo.xfrontend.com/snowbird/category/adventure/" rel="category tag">Adventure</a></span>

		<span class="xf__meta-item posted-on"><a href="https://demo.xfrontend.com/snowbird/ten-reasons-to-visit-bosnia-hercegovina/" rel="bookmark"><time class="entry-date published" datetime="2015-08-21T04:13:14+00:00" itemprop="datePublished">August 21, 2015</time></a></span><span class="xf__meta-item updated-on screen-reader-text"><time class="entry-date updated" datetime="2015-08-21T04:13:14+00:00" itemprop="dateModified">August 21, 2015</time></span>	</div>

			<h2 class="entry-title" itemprop="headline"><a href="https://demo.xfrontend.com/snowbird/ten-reasons-to-visit-bosnia-hercegovina/" rel="bookmark">Ten Reasons to Visit Bosnia &amp; Hercegovina</a></h2>		</header>
	</div>

	<div class="xf__container">
	<figure class="xf__feaured-image xf__feaured-image-alt" aria-hidden="true">
		<a href="https://demo.xfrontend.com/snowbird/ten-reasons-to-visit-bosnia-hercegovina/"><img width="1110" height="480" src="/assets/img/clouds-mountains-nature-3826-1110x480.jpg" class="attachment-snowbird-large size-snowbird-large wp-post-image" alt="Ten Reasons to Visit Bosnia &amp; Hercegovina" itemprop="image"></a>	</figure>
</div>

			<div class="xf__post-wrapper">
			<div class="xf__container xf__entry-container">
				<div class="xf__entry-sidebar clear">

	<div class="xf__entry-meta">

			<img alt="" src="/assets/img/7033694ceb10d10ef79dd7568cfbd0a4" srcset="https://secure.gravatar.com/avatar/7033694ceb10d10ef79dd7568cfbd0a4?s=170&amp;d=mm&amp;r=g 2x" class="avatar avatar-85 photo" height="85" width="85">			<p class="entry-author vcard" itemtype="http://schema.org/Person" itemscope="itemscope" itemprop="author">
				<span>by:</span>
				<span class="fn author" itemprop="name"><a class="url" href="https://demo.xfrontend.com/snowbird/author/xfrontend/" title="Posts by Kristy Fahey" itemprop="url" rel="author">Kristy Fahey</a></span></p>

							<p class="comment-count">
					<a href="https://demo.xfrontend.com/snowbird/ten-reasons-to-visit-bosnia-hercegovina/#comments">1 Comment</a>				</p>


		<hr class="separator">
	</div>

			<div class="xf__entry-share">
			<p class="share-title">Share on:</p>

			<p>
				<a class="facebook" title="Share on Facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Ften-reasons-to-visit-bosnia-hercegovina%2F&amp;t=Ten+Reasons+to+Visit+Bosnia+%26%23038%3B+Hercegovina">
					<i class="fa fa-facebook"></i>
					<span class="screen-reader-text">Facebook</span></a>
				<a class="twitter" title="Tweet This" href="https://twitter.com/share?text=Ten+Reasons+to+Visit+Bosnia+%26%23038%3B+Hercegovina&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Ften-reasons-to-visit-bosnia-hercegovina%2F">
					<i class="fa fa-twitter"></i>
					<span class="screen-reader-text">Twitter</span></a>
				<a class="pinterest" title="Pin This" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Ften-reasons-to-visit-bosnia-hercegovina%2F&amp;description=Ten+Reasons+to+Visit+Bosnia+%26%23038%3B+Hercegovina&amp;media=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fwp-content%2Fuploads%2Fclouds-mountains-nature-3826-920x613.jpg">
					<i class="fa fa-pinterest-p"></i>
					<span class="screen-reader-text">Pinterest</span></a>
				<a class="gplus" title="Share on Google+" href="https://plus.google.com/share?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Ften-reasons-to-visit-bosnia-hercegovina%2F">
					<i class="fa fa-google-plus"></i>
					<span class="screen-reader-text">Google+</span></a>
				<a class="linkedin" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;title=Ten+Reasons+to+Visit+Bosnia+%26%23038%3B+Hercegovina&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Ften-reasons-to-visit-bosnia-hercegovina%2F">
					<i class="fa fa-linkedin"></i>
					<span class="screen-reader-text">LinkedIn</span></a>
				<a class="mail" title="Email This" href="mailto:?subject=Ten+Reasons+to+Visit+Bosnia+%26%23038%3B+Hercegovina&amp;body=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Ften-reasons-to-visit-bosnia-hercegovina%2F">
					<i class="fa fa-envelope-o"></i>
					<span class="screen-reader-text">Email</span></a>
			</p>
		</div>
		</div>
					<div class="content entry-content" itemprop="text">
						<p>It suddenly struck me that that tiny pea, pretty and blue, was the&nbsp;Earth. I put up my thumb and shut one eye, and my thumb blotted out the planet Earth. I didn’t feel like a giant. <strong>I felt very, very small.</strong></p>
<p>Science cuts two ways, of course; its products can be used for both good and evil. But there’s no turning back from science. The early warnings about&nbsp;technological&nbsp;dangers also come from&nbsp;science. Curious that we spend more time congratulating people who have succeeded than encouraging people who have not.</p>
<p><span class="xf__dots">…</span><a class="xf__more xf__button" href="https://demo.xfrontend.com/snowbird/ten-reasons-to-visit-bosnia-hercegovina/">Read More</a></p>
					</div>
							</div>
		</div>

</article>



<article id="post-32" class="post-32 post type-post status-publish format-standard has-post-thumbnail hentry category-adventure category-lifestyle tag-life tag-love tag-romance xf__entry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope" itemprop="blogPost">

	<div class="xf__container">
		<header class="xf__post-header">
				<div class="xf__meta" itemprop="text">

					<span class="xf__meta-item link-category"><a href="https://demo.xfrontend.com/snowbird/category/adventure/" rel="category tag">Adventure</a>, <a href="https://demo.xfrontend.com/snowbird/category/lifestyle/" rel="category tag">Lifestyle</a></span>

		<span class="xf__meta-item posted-on"><a href="https://demo.xfrontend.com/snowbird/learn-to-surf-peninsula-costa-rica/" rel="bookmark"><time class="entry-date published" datetime="2015-08-12T04:08:51+00:00" itemprop="datePublished">August 12, 2015</time></a></span><span class="xf__meta-item updated-on screen-reader-text"><time class="entry-date updated" datetime="2015-08-12T04:08:51+00:00" itemprop="dateModified">August 12, 2015</time></span>	</div>

			<h2 class="entry-title" itemprop="headline"><a href="https://demo.xfrontend.com/snowbird/learn-to-surf-peninsula-costa-rica/" rel="bookmark">Learn to Surf Peninsula, Costa Rica.</a></h2>		</header>
	</div>

	<div class="xf__container">
	<figure class="xf__feaured-image xf__feaured-image-alt" aria-hidden="true">
		<a href="https://demo.xfrontend.com/snowbird/learn-to-surf-peninsula-costa-rica/"><img width="1110" height="480" src="/assets/img/eibsee-761569_1920-1110x480.jpg" class="attachment-snowbird-large size-snowbird-large wp-post-image" alt="Learn to Surf Peninsula, Costa Rica." itemprop="image"></a>	</figure>
</div>

			<div class="xf__post-wrapper">
			<div class="xf__container xf__entry-container">
				<div class="xf__entry-sidebar clear">

	<div class="xf__entry-meta">

			<img alt="" src="/assets/img/7033694ceb10d10ef79dd7568cfbd0a4" srcset="https://secure.gravatar.com/avatar/7033694ceb10d10ef79dd7568cfbd0a4?s=170&amp;d=mm&amp;r=g 2x" class="avatar avatar-85 photo" height="85" width="85">			<p class="entry-author vcard" itemtype="http://schema.org/Person" itemscope="itemscope" itemprop="author">
				<span>by:</span>
				<span class="fn author" itemprop="name"><a class="url" href="https://demo.xfrontend.com/snowbird/author/xfrontend/" title="Posts by Kristy Fahey" itemprop="url" rel="author">Kristy Fahey</a></span></p>

							<p class="comment-count">
					<a href="https://demo.xfrontend.com/snowbird/learn-to-surf-peninsula-costa-rica/#comments">1 Comment</a>				</p>


		<hr class="separator">
	</div>

			<div class="xf__entry-share">
			<p class="share-title">Share on:</p>

			<p>
				<a class="facebook" title="Share on Facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Flearn-to-surf-peninsula-costa-rica%2F&amp;t=Learn+to+Surf+Peninsula%2C+Costa+Rica.">
					<i class="fa fa-facebook"></i>
					<span class="screen-reader-text">Facebook</span></a>
				<a class="twitter" title="Tweet This" href="https://twitter.com/share?text=Learn+to+Surf+Peninsula%2C+Costa+Rica.&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Flearn-to-surf-peninsula-costa-rica%2F">
					<i class="fa fa-twitter"></i>
					<span class="screen-reader-text">Twitter</span></a>
				<a class="pinterest" title="Pin This" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Flearn-to-surf-peninsula-costa-rica%2F&amp;description=Learn+to+Surf+Peninsula%2C+Costa+Rica.&amp;media=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fwp-content%2Fuploads%2Feibsee-761569_1920-920x613.jpg">
					<i class="fa fa-pinterest-p"></i>
					<span class="screen-reader-text">Pinterest</span></a>
				<a class="gplus" title="Share on Google+" href="https://plus.google.com/share?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Flearn-to-surf-peninsula-costa-rica%2F">
					<i class="fa fa-google-plus"></i>
					<span class="screen-reader-text">Google+</span></a>
				<a class="linkedin" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;title=Learn+to+Surf+Peninsula%2C+Costa+Rica.&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Flearn-to-surf-peninsula-costa-rica%2F">
					<i class="fa fa-linkedin"></i>
					<span class="screen-reader-text">LinkedIn</span></a>
				<a class="mail" title="Email This" href="mailto:?subject=Learn+to+Surf+Peninsula%2C+Costa+Rica.&amp;body=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Flearn-to-surf-peninsula-costa-rica%2F">
					<i class="fa fa-envelope-o"></i>
					<span class="screen-reader-text">Email</span></a>
			</p>
		</div>
		</div>
					<div class="content entry-content" itemprop="text">
						<p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man. I would start my career as a secretary in a little nine-person real estate firm.</p>
<p>We want to explore. We’re curious people. Look back over history, people have put their lives at stake to go out and explore … We believe in what we’re doing. Now it’s time to go not yet mastered prophecy.</p>
<p><span class="xf__dots">…</span><a class="xf__more xf__button" href="https://demo.xfrontend.com/snowbird/learn-to-surf-peninsula-costa-rica/">Read More</a></p>
					</div>
							</div>
		</div>

</article>



<article id="post-111" class="post-111 post type-post status-publish format-video has-post-thumbnail hentry category-travel tag-media tag-music tag-video post_format-post-format-video xf__entry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope" itemprop="blogPost">

	<div class="xf__container">
		<header class="xf__post-header">
				<div class="xf__meta" itemprop="text">

					<span class="xf__meta-item link-category"><a href="https://demo.xfrontend.com/snowbird/category/travel/" rel="category tag">Travel</a></span>

		<span class="xf__meta-item posted-on"><a href="https://demo.xfrontend.com/snowbird/vimeo-paris-where-are-you/" rel="bookmark"><time class="entry-date published" datetime="2015-07-18T04:01:15+00:00" itemprop="datePublished">July 18, 2015</time></a></span><span class="xf__meta-item updated-on screen-reader-text"><time class="entry-date updated" datetime="2015-07-18T04:01:15+00:00" itemprop="dateModified">July 18, 2015</time></span>	</div>

			<h2 class="entry-title" itemprop="headline"><a href="https://demo.xfrontend.com/snowbird/vimeo-paris-where-are-you/" rel="bookmark">Vimeo: Paris where are you</a></h2>		</header>
	</div>

	<div class="xf__container">
	<figure class="xf__feaured-image xf__feaured-image-alt" aria-hidden="true">
		<a href="https://demo.xfrontend.com/snowbird/vimeo-paris-where-are-you/"><img width="1110" height="480" src="/assets/img/iceland-677694-1110x480.jpg" class="attachment-snowbird-large size-snowbird-large wp-post-image" alt="Vimeo: Paris where are you" itemprop="image"></a>	</figure>
</div>

			<div class="xf__post-wrapper">
			<div class="xf__container xf__entry-container">
				<div class="xf__entry-sidebar clear">

	<div class="xf__entry-meta">

			<img alt="" src="/assets/img/7033694ceb10d10ef79dd7568cfbd0a4" srcset="https://secure.gravatar.com/avatar/7033694ceb10d10ef79dd7568cfbd0a4?s=170&amp;d=mm&amp;r=g 2x" class="avatar avatar-85 photo" height="85" width="85">			<p class="entry-author vcard" itemtype="http://schema.org/Person" itemscope="itemscope" itemprop="author">
				<span>by:</span>
				<span class="fn author" itemprop="name"><a class="url" href="https://demo.xfrontend.com/snowbird/author/xfrontend/" title="Posts by Kristy Fahey" itemprop="url" rel="author">Kristy Fahey</a></span></p>

							<p class="comment-count">
					<a href="https://demo.xfrontend.com/snowbird/vimeo-paris-where-are-you/#comments">2 Comments</a>				</p>


		<hr class="separator">
	</div>

			<div class="xf__entry-share">
			<p class="share-title">Share on:</p>

			<p>
				<a class="facebook" title="Share on Facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fvimeo-paris-where-are-you%2F&amp;t=Vimeo%3A+Paris+where+are+you">
					<i class="fa fa-facebook"></i>
					<span class="screen-reader-text">Facebook</span></a>
				<a class="twitter" title="Tweet This" href="https://twitter.com/share?text=Vimeo%3A+Paris+where+are+you&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fvimeo-paris-where-are-you%2F">
					<i class="fa fa-twitter"></i>
					<span class="screen-reader-text">Twitter</span></a>
				<a class="pinterest" title="Pin This" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fvimeo-paris-where-are-you%2F&amp;description=Vimeo%3A+Paris+where+are+you&amp;media=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fwp-content%2Fuploads%2Ficeland-677694-920x610.jpg">
					<i class="fa fa-pinterest-p"></i>
					<span class="screen-reader-text">Pinterest</span></a>
				<a class="gplus" title="Share on Google+" href="https://plus.google.com/share?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fvimeo-paris-where-are-you%2F">
					<i class="fa fa-google-plus"></i>
					<span class="screen-reader-text">Google+</span></a>
				<a class="linkedin" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;title=Vimeo%3A+Paris+where+are+you&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fvimeo-paris-where-are-you%2F">
					<i class="fa fa-linkedin"></i>
					<span class="screen-reader-text">LinkedIn</span></a>
				<a class="mail" title="Email This" href="mailto:?subject=Vimeo%3A+Paris+where+are+you&amp;body=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fvimeo-paris-where-are-you%2F">
					<i class="fa fa-envelope-o"></i>
					<span class="screen-reader-text">Email</span></a>
			</p>
		</div>
		</div>
					<div class="content entry-content" itemprop="text">
						<p>The sky is the limit only for those who aren’t afraid to fly! To go places and do things that have never been done before – that’s what living is all about.</p>
<p>What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>
<p><span class="xf__dots">…</span><a class="xf__more xf__button" href="https://demo.xfrontend.com/snowbird/vimeo-paris-where-are-you/">Read More</a></p>
					</div>
							</div>
		</div>

</article>



<article id="post-1885" class="post-1885 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-life tag-travel xf__entry" itemtype="http://schema.org/BlogPosting" itemscope="itemscope" itemprop="blogPost">

	<div class="xf__container">
		<header class="xf__post-header">
				<div class="xf__meta" itemprop="text">

					<span class="xf__meta-item link-category"><a href="https://demo.xfrontend.com/snowbird/category/lifestyle/" rel="category tag">Lifestyle</a></span>

		<span class="xf__meta-item posted-on"><a href="https://demo.xfrontend.com/snowbird/appreciate-what-does-it-means/" rel="bookmark"><time class="entry-date published" datetime="2015-07-09T10:48:25+00:00" itemprop="datePublished">July 9, 2015</time></a></span><span class="xf__meta-item updated-on screen-reader-text"><time class="entry-date updated" datetime="2015-07-09T10:48:25+00:00" itemprop="dateModified">July 9, 2015</time></span>	</div>

			<h2 class="entry-title" itemprop="headline"><a href="https://demo.xfrontend.com/snowbird/appreciate-what-does-it-means/" rel="bookmark">Appreciate- What Does It Means?</a></h2>		</header>
	</div>

	<div class="xf__container">
	<figure class="xf__feaured-image xf__feaured-image-alt" aria-hidden="true">
		<a href="https://demo.xfrontend.com/snowbird/appreciate-what-does-it-means/"><img width="1110" height="480" src="/assets/img/half-dome-768806_1920-1110x480.jpg" class="attachment-snowbird-large size-snowbird-large wp-post-image" alt="Appreciate- What Does It Means?" itemprop="image"></a>	</figure>
</div>

			<div class="xf__post-wrapper">
			<div class="xf__container xf__entry-container">
				<div class="xf__entry-sidebar clear">

	<div class="xf__entry-meta">

			<img alt="" src="/assets/img/7033694ceb10d10ef79dd7568cfbd0a4" srcset="https://secure.gravatar.com/avatar/7033694ceb10d10ef79dd7568cfbd0a4?s=170&amp;d=mm&amp;r=g 2x" class="avatar avatar-85 photo" height="85" width="85">			<p class="entry-author vcard" itemtype="http://schema.org/Person" itemscope="itemscope" itemprop="author">
				<span>by:</span>
				<span class="fn author" itemprop="name"><a class="url" href="https://demo.xfrontend.com/snowbird/author/xfrontend/" title="Posts by Kristy Fahey" itemprop="url" rel="author">Kristy Fahey</a></span></p>

							<p class="comment-count">
					<a href="https://demo.xfrontend.com/snowbird/appreciate-what-does-it-means/#respond">Add Comment</a>				</p>


		<hr class="separator">
	</div>

			<div class="xf__entry-share">
			<p class="share-title">Share on:</p>

			<p>
				<a class="facebook" title="Share on Facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fappreciate-what-does-it-means%2F&amp;t=Appreciate-+What+Does+It+Means%3F">
					<i class="fa fa-facebook"></i>
					<span class="screen-reader-text">Facebook</span></a>
				<a class="twitter" title="Tweet This" href="https://twitter.com/share?text=Appreciate-+What+Does+It+Means%3F&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fappreciate-what-does-it-means%2F">
					<i class="fa fa-twitter"></i>
					<span class="screen-reader-text">Twitter</span></a>
				<a class="pinterest" title="Pin This" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fappreciate-what-does-it-means%2F&amp;description=Appreciate-+What+Does+It+Means%3F&amp;media=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fwp-content%2Fuploads%2Fhalf-dome-768806_1920-920x613.jpg">
					<i class="fa fa-pinterest-p"></i>
					<span class="screen-reader-text">Pinterest</span></a>
				<a class="gplus" title="Share on Google+" href="https://plus.google.com/share?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fappreciate-what-does-it-means%2F">
					<i class="fa fa-google-plus"></i>
					<span class="screen-reader-text">Google+</span></a>
				<a class="linkedin" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;title=Appreciate-+What+Does+It+Means%3F&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fappreciate-what-does-it-means%2F">
					<i class="fa fa-linkedin"></i>
					<span class="screen-reader-text">LinkedIn</span></a>
				<a class="mail" title="Email This" href="mailto:?subject=Appreciate-+What+Does+It+Means%3F&amp;body=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fappreciate-what-does-it-means%2F">
					<i class="fa fa-envelope-o"></i>
					<span class="screen-reader-text">Email</span></a>
			</p>
		</div>
		</div>
					<div class="content entry-content" itemprop="text">
						<p>Saving the world with meals on wheels. Stop talking, brain thinking. Hush. Annihilate? No. No violence. I won’t stand for it. Not now, not ever, do you understand me?!</p>
<p>You hit me with a cricket bat. I’m nobody’s taxi service; I’m not gonna be there to catch you every time you feel like jumping out of a spaceship. It’s a fez. I wear a fez now. Fezes are cool. They’re not aliens, they’re Earth…liens! I’m nobody’s taxi service; I’m not gonna be there to catch you every time you feel like jumping out of a spaceship.</p>
<p><span class="xf__dots">…</span><a class="xf__more xf__button" href="https://demo.xfrontend.com/snowbird/appreciate-what-does-it-means/">Read More</a></p>
					</div>
							</div>
		</div>

</article>

					</div>


		<nav class="xf__nav-pagination pagination" role="navigation">
			<h2 class="screen-reader-text">Posts navigation</h2>
			<div class="xf__container">
				<div class="nav-links"><span class="page-numbers current">1</span>
<a class="page-numbers" href="https://demo.xfrontend.com/snowbird/page/2/">2</a>
<a class="page-numbers" href="https://demo.xfrontend.com/snowbird/page/3/">3</a>
<a class="next page-numbers" href="https://demo.xfrontend.com/snowbird/page/2/">Older Entries</a></div>
			</div>
		</nav>
	</main>


{% include footer.html %}
