<!DOCTYPE html>

{% include header.html %}

<body class="post-template-default single single-post postid-331 single-format-standard scheme-default sidebar-content snowbird-popup" itemtype="http://schema.org/WebPage" itemscope="itemscope">

<div class="xf__site hfeed">
	<div class="content-area">


<main class="xf__main" itemprop="mainContentOfPage">

		<div itemscope="itemscope" itemtype="http://schema.org/Blog">

<article id="post-331" class="post-331 post type-post status-publish format-standard has-post-thumbnail hentry category-photography tag-fun tag-gallery tag-nature xf__entry has-author-bio xf__singular" itemtype="http://schema.org/BlogPosting" itemscope="itemscope" itemprop="blogPost">
		<figure class="xf__feaured-image" aria-hidden="true">
		<img width="1600" height="600" src="{{page.header}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="A Road Trip Through the Heart of Russia" itemprop="image">	</figure>

	<div class="xf__post-wrapper">
		<div class="xf__container xf__entry-container">

			<header class="xf__post-header">
					<div class="xf__meta" itemprop="text">

					<span class="xf__meta-item link-category"><a href="https://demo.xfrontend.com/snowbird/category/photography/" rel="category tag">Photography</a></span>

		<span class="xf__meta-item posted-on"><a href="https://demo.xfrontend.com/snowbird/a-road-trip-through-the-heart-of-russia/" rel="bookmark"><time class="entry-date published" datetime="2015-09-14T10:43:32+00:00" itemprop="datePublished">September 14, 2015</time></a></span><span class="xf__meta-item updated-on screen-reader-text"><time class="entry-date updated" datetime="2015-09-14T10:43:32+00:00" itemprop="dateModified">September 14, 2015</time></span>	</div>

				<h1 class="entry-title" itemprop="headline">{{page.title}}</h1>			</header>


<div class="xf__author-bio" itemtype="http://schema.org/Person" itemscope="itemscope" itemprop="author">
	<div class="bio-header clear">
		<img alt="" src="/assets/img/4da4abb3019691ca39e2311ba483965a" srcset="https://secure.gravatar.com/avatar/4da4abb3019691ca39e2311ba483965a?s=160&amp;d=mm&amp;r=g 2x" class="avatar avatar-80 photo" height="80" width="80" itemprop="image">
		<div class="entry-author vcard">
			Written by <span class="fn author" itemprop="name"><a class="url" href="https://demo.xfrontend.com/snowbird/author/dummy/" title="Posts by Katy Wittner" itemprop="url" rel="author">Katy Wittner</a></span>		</div>
	</div>

	<hr class="separator">

			<div class="bio-content" itemprop="description"><p>Journalism major at northwestern for Economics, and Development Recruiter Editor @envato.</p>
</div>

		<hr class="separator">

	<ul class="suerpack__user-links author-links"><li><a href="https://demo.xfrontend.com/snowbird/a-road-trip-through-the-heart-of-russia/#" class="facebook" rel="me"><i class="fa fa-facebook-f"></i> <span class="screen-reader-text">Facebook</span></a> </li><li><a href="https://demo.xfrontend.com/snowbird/a-road-trip-through-the-heart-of-russia/#" class="twitter" rel="me"><i class="fa fa-twitter"></i> <span class="screen-reader-text">Twitter</span></a> </li><li><a href="https://demo.xfrontend.com/snowbird/a-road-trip-through-the-heart-of-russia/#" class="gplus" rel="me"><i class="fa fa-google-plus"></i> <span class="screen-reader-text">Google+</span></a> </li></ul></div>

			<div class="content entry-content" itemprop="text">
				{{page.content}}
							</div>

			<footer class="xf__post-footer">

											<p class="xf__meta-item link-tag" itemprop="text">
							<span>Tagged with: </span> <a href="https://demo.xfrontend.com/snowbird/tag/fun/" rel="tag">Fun</a>, <a href="https://demo.xfrontend.com/snowbird/tag/gallery/" rel="tag">Gallery</a>, <a href="https://demo.xfrontend.com/snowbird/tag/nature/" rel="tag">Nature</a>						</p>



<div class="xf__share-container xf__share-this">
	<span>Share this:</span>

	<a class="facebook" title="Share on Facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F&amp;t=A+Road+Trip+Through+the+Heart+of+Russia">
		<i class="fa fa-facebook"></i>
		Facebook</a>
	<a class="twitter" title="Tweet This" href="https://twitter.com/share?text=A+Road+Trip+Through+the+Heart+of+Russia&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F">
		<i class="fa fa-twitter"></i>
		Twitter</a>
	<a class="pinterest" title="Pin This" href="https://www.pinterest.com/pin/create/button/?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F&amp;description=A+Road+Trip+Through+the+Heart+of+Russia&amp;media=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fwp-content%2Fuploads%2Fbora-bora-701855_1920-920x650.jpg">
		<i class="fa fa-pinterest-p"></i>
		Pinterest</a>
	<a class="gplus" title="Share on Google+" href="https://plus.google.com/share?url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F">
		<i class="fa fa-google-plus"></i>
		Google+</a>
	<a class="linkedin" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&amp;title=A+Road+Trip+Through+the+Heart+of+Russia&amp;url=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F">
		<i class="fa fa-linkedin"></i>
		LinkedIn</a>
	<a class="mail" title="Email This" href="mailto:?subject=A+Road+Trip+Through+the+Heart+of+Russia&amp;body=https%3A%2F%2Fdemo.xfrontend.com%2Fsnowbird%2Fa-road-trip-through-the-heart-of-russia%2F">
		<i class="fa fa-envelope-o"></i>
		Email</a>
</div>
			</footer>
		</div>

		<nav class="xf__post-navigation">
	<h2 class="screen-reader-text">Post navigation</h2>

	<div class="xf__nav-post">
		<a href="https://demo.xfrontend.com/snowbird/ten-reasons-to-visit-bosnia-hercegovina/" rel="prev"><img class="xf__img" width="120" src="./A Road Trip Through the Heart of Russia — Snowbird_files/clouds-mountains-nature-3826-120x120.jpg" alt=""> <div class="xf__title" data-title="Prev">Ten Reasons to Visit Bosnia &amp; Hercegovina</div></a>		<a href="https://demo.xfrontend.com/snowbird/mountain-winter-landscape-in-austria/" rel="next">
			<img class="xf__img" width="120" src="{{page.header}}" alt=""> <div class="xf__title" data-title="Next">Mountain Winter Landscape in Austria</div></a>	</div>
</nav>
	</div>
</article>

						<div class="xf__block xf__related">
								<div class="xf__full-width">
					<div class="xf__block-header screen-reader-text">
						<h3 class="xf__block-title related-title">Related Entries</h3>
					</div>

					<div class="row">

							<div class="column related-item one-fourth">
								<a href="https://demo.xfrontend.com/snowbird/computer-and-geek-evolution/">
									<div class="wrapper">
										<div class="content">
											<h4 class="post-title">Computer and Geek Evolution</h4>

											<span class="post-date"><time class="entry-date published" datetime="2015-05-19T10:32:56+00:00">May 19, 2015</time></span>										</div>
									</div>

																			<img width="400" height="400" src="./A Road Trip Through the Heart of Russia — Snowbird_files/lake-landscape-mountains-3747-400x400.jpg" class="attachment-snowbird-thumb size-snowbird-thumb wp-post-image" alt="" srcset="https://demo.xfrontend.com/snowbird/wp-content/uploads/lake-landscape-mountains-3747-400x400.jpg 400w, https://demo.xfrontend.com/snowbird/wp-content/uploads/lake-landscape-mountains-3747-320x320.jpg 320w, https://demo.xfrontend.com/snowbird/wp-content/uploads/lake-landscape-mountains-3747-120x120.jpg 120w" sizes="(max-width: 400px) 100vw, 400px">
										<div class="overlay"></div>
																	</a>
							</div>


							<div class="column related-item one-fourth">
								<a href="https://demo.xfrontend.com/snowbird/post-format-gallery/">
									<div class="wrapper">
										<div class="content">
											<h4 class="post-title">Post Format Gallery</h4>

											<span class="post-date"><time class="entry-date published" datetime="2015-05-01T07:11:05+00:00">May 1, 2015</time></span>										</div>
									</div>

																			<img width="400" height="400" src="/assets/img/elbe-sandstone-mountains-247450_1920-400x400.jpg" class="attachment-snowbird-thumb size-snowbird-thumb wp-post-image" alt="" srcset="https://demo.xfrontend.com/snowbird/wp-content/uploads/elbe-sandstone-mountains-247450_1920-400x400.jpg 400w, https://demo.xfrontend.com/snowbird/wp-content/uploads/elbe-sandstone-mountains-247450_1920-320x320.jpg 320w, https://demo.xfrontend.com/snowbird/wp-content/uploads/elbe-sandstone-mountains-247450_1920-120x120.jpg 120w" sizes="(max-width: 400px) 100vw, 400px">
										<div class="overlay"></div>
																	</a>
							</div>


							<div class="column related-item one-fourth">
								<a href="https://demo.xfrontend.com/snowbird/mountain-winter-landscape-in-austria/">
									<div class="wrapper">
										<div class="content">
											<h4 class="post-title">Mountain Winter Landscape in Austria</h4>

											<span class="post-date"><time class="entry-date published" datetime="2015-09-18T11:03:20+00:00">September 18, 2015</time></span>										</div>
									</div>

																			<img width="400" height="400" src="./A Road Trip Through the Heart of Russia — Snowbird_files/post-img01-400x400.jpg" class="attachment-snowbird-thumb size-snowbird-thumb wp-post-image" alt="" srcset="https://demo.xfrontend.com/snowbird/wp-content/uploads/post-img01-400x400.jpg 400w, https://demo.xfrontend.com/snowbird/wp-content/uploads/post-img01-320x320.jpg 320w, https://demo.xfrontend.com/snowbird/wp-content/uploads/post-img01-120x120.jpg 120w" sizes="(max-width: 400px) 100vw, 400px">
										<div class="overlay"></div>
																	</a>
							</div>


							<div class="column related-item one-fourth">
								<a href="https://demo.xfrontend.com/snowbird/the-day-start-with-coffee/">
									<div class="wrapper">
										<div class="content">
											<h4 class="post-title">The Day Start with Coffee</h4>

											<span class="post-date"><time class="entry-date published" datetime="2015-06-27T10:30:03+00:00">June 27, 2015</time></span>										</div>
									</div>

																			<img width="400" height="400" src="./A Road Trip Through the Heart of Russia — Snowbird_files/hiking-landscape-mountains-1119-400x400.jpg" class="attachment-snowbird-thumb size-snowbird-thumb wp-post-image" alt="" srcset="https://demo.xfrontend.com/snowbird/wp-content/uploads/hiking-landscape-mountains-1119-400x400.jpg 400w, https://demo.xfrontend.com/snowbird/wp-content/uploads/hiking-landscape-mountains-1119-320x320.jpg 320w, https://demo.xfrontend.com/snowbird/wp-content/uploads/hiking-landscape-mountains-1119-120x120.jpg 120w" sizes="(max-width: 400px) 100vw, 400px">
										<div class="overlay"></div>
																	</a>
							</div>

											</div>
				</div>
			</div>


				<div id="comments" class="xf__block comments-area">
		<div class="xf__container xf__entry-container">




				<div id="respond" class="comment-respond">
		<h3 id="reply-title" class="comment-reply-title"><span>Leave a Reply</span> <small><a rel="nofollow" id="cancel-comment-reply-link" href="https://demo.xfrontend.com/snowbird/a-road-trip-through-the-heart-of-russia/#respond" style="display:none;">Cancel Reply</a></small></h3>			<form action="https://demo.xfrontend.com/snowbird/wp-comments-post.php" method="post" id="comment-form" class="comment-form" novalidate="">
				<p class="comment-notes">Your email address will not be published. Required fields are marked *</p><p class="form-comment"><label class="screen-reader-text" for="comment">Comment</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p><p class="form-author"><label class="screen-reader-text" for="author">Name *</label><input id="author" name="author" type="text" placeholder="Name *" value="" size="30" aria-required="true"></p>
<p class="form-email"><label class="screen-reader-text" for="email">Email *</label><input id="email" name="email" type="text" placeholder="Email *" value="" size="30" aria-required="true"></p>
<p class="form-url"><label class="screen-reader-text" for="url">Website</label><input id="url" name="url" type="text" placeholder="Website" value="" size="30"></p>
<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="331" id="comment_post_ID">
<input type="hidden" name="comment_parent" id="comment_parent" value="0">
</p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="0679cef413"></p><p class="comment-subscription-form"><input type="checkbox" name="subscribe_comments" id="subscribe_comments" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;"> <label class="subscribe-label" id="subscribe-label" for="subscribe_comments">Notify me of follow-up comments by email.</label></p><p class="comment-subscription-form"><input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe" style="width: auto; -moz-appearance: checkbox; -webkit-appearance: checkbox;"> <label class="subscribe-label" id="subscribe-blog-label" for="subscribe_blog">Notify me of new posts by email.</label></p><p style="display: none;"></p>			</form>
			</div><!-- #respond -->

		</div>
	</div>
		</div>

	</main>



{% include footer.html %}
